asyncio==3.4.3
contourpy==1.1.1
cycler==0.12.1
fonttools==4.49.0
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
packaging==23.2
pillow==10.2.0
PyAudio==0.2.14
pyparsing==3.1.1
pyRAPL==0.2.3.1
pyrtlsdr==0.3.0
pyrtlsdrlib==0.0.1
python-dateutil==2.8.2
scipy==1.10.1
six==1.16.0
zipp==3.17.0
